<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>⭐ Rihanna - ABOUT ⭐</title>

    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="stylesheet" href="stylesheets/about.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap" rel="stylesheet" />
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <h1>RIHANNA'S BIOGRAPHY</h1>

    <section>
        <h2>EARLY LIFE</h2>
        <p>
            Fenty grew up in Barbados with a Barbadian father and a Guyanese mother.
            As a child, she listened to Caribbean music, such as reggae, as well as
            American hip-hop and R&B. She especially enjoyed singing and won a
            high-school talent show with a rendition of a Mariah Carey song. About
            the same time, she started a girl group with two friends, and in 2004
            she attracted the attention of Evan Rogers, an American record producer.
            He helped Fenty record a demo that led to an audition with the rapper
            Jay-Z, who at the time headed the Def Jam record label, and he soon
            signed the budding vocalist. For her professional career, she adopted
            her middle name, Rihanna.
        </p>
    </section>

    <section>
        <h2>MUSIC CAREER</h2>
        <p>
            With the effervescent dancehall-inflected single “Pon de Replay” (2005),
            Rihanna immediately captured an international audience. The song’s
            success buoyed sales for her debut full-length recording, Music of the
            Sun (2005), on which conventional R&B ballads shared space with
            Caribbean-flavoured dance-pop that showcased her melodious Barbadian
            lilt. Rihanna soon followed with the album A Girl Like Me (2006),
            featuring the up-tempo club-oriented “S.O.S.” The song, which was built
            around a sample of Soft Cell’s 1981 new-wave hit “Tainted Love,” became
            Rihanna’s first to top the Billboard singles chart. For Good Girl Gone
            Bad (2007), Rihanna sought to transform her youthful image. With the
            assistance of such high-profile collaborators as Timbaland and Justin
            Timberlake, she abandoned the tropical rhythms that had adorned her
            first two albums and recorded a collection of sleek R&B that presented
            her as a fiercely independent and rebellious woman. (She also unveiled a
            spiky asymmetrical hairstyle.) The gambit paid off, as the album sold
            several million copies worldwide, and its anthemic lead single,
            “Umbrella,” featuring an introductory rap from Jay-Z, became one of the
            year’s biggest hits and earned Rihanna a Grammy Award.
        </p>
    </section>

    <section>
        <h2>LATER WORKS</h2>
        <p>
            In early 2009 Rihanna was beaten by her boyfriend, fellow R&B star Chris
            Brown, in an incident that was widely covered by tabloid news and gossip
            blogs. Following their separation, he was convicted of assault. The
            album that followed later that year, Rated R, much of which she cowrote,
            was marked by icily stark production and brooding lyrics that touched on
            revenge. Although her sales declined somewhat, she scored another major
            hit with “Rude Boy.” Rihanna returned to less-portentous fare on the
            dance-friendly Loud (2010). In early 2011 the album’s sexually
            provocative single “S&M” became her 10th number one Billboard hit—which
            made her, at age 23, the youngest artist ever to reach that milestone.
            Included in the total were prominent collaborations with hip-hop artists
            T.I. and Eminem that appeared on albums of theirs; many felt her vocals
            on the latter’s “Love the Way You Lie” (2010) lent resonance to the
            song’s depiction of an abusive relationship. Rihanna maintained a steely
            and seductive persona on the albums Talk That Talk (2011), which
            produced the infectious international hit “We Found Love,” and
            Unapologetic (2012), which was anchored by the starry-eyed “Diamonds.”
            The latter release also controversially featured a duet with Brown, with
            whom she rekindled her relationship for a brief time. Her eighth studio
            album, Anti, was released in 2016. Rihanna began working on a new
            record, but the project was delayed as she took a break from music.
            However, she later cowrote and performed “Lift Me Up” for the film Black
            Panther: Wakanda Forever (2022). For her work on the single, Rihanna
            received her first Academy Award nomination, for best original song. In
            2023 she returned to the stage for the first time in some four years,
            performing at the Super Bowl halftime show.
        </p>
    </section>

    <iframe width="1600" height="900" src="https://www.youtube.com/embed/pa14VNsdSYM" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</body>

</html>