<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>⭐ Rihanna - GALLERY ⭐</title>

    <link rel="stylesheet" href="stylesheets/main.css" />

    <link rel="stylesheet" href="stylesheets/gallery.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap" rel="stylesheet" />
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <h1>RIHANNA'S GALLERY</h1>

    <div class="parent">
        <div class="container">
            <div class="work-img-container">
                <img src="/images/rihannaElleMagazine.jpg" />
                <div class="work-title">ELLE Magazine Cover 2017</div>
            </div>
        </div>

        <div class="container">
            <div class="work-img-container">
                <img src="/images/marieAntoinetteFashionBookRihanna.jpg" />
                <div class="work-title">FASHION BOOK Marie Antoinette</div>
            </div>
        </div>

        <div class="container">
            <div class="work-img-container">
                <img src="/images/pinkRihanna.jpg" />
                <div class="work-title">Car with pink outfit</div>
            </div>
        </div>

        <div class="container">
            <div class="work-img-container">
                <img class="small" src="/images/shakiraAndRihanna.jpg" />
                <div class="work-title">Riri and Shakira in the Can't Remember to Forget You video</div>
            </div>
        </div>

        <div class="container">
            <div class="work-img-container">
                <img class="small" src="/images/rihannaWithBaby.jpg" />
                <div class="work-title">Rihanna with his son </div>
            </div>
        </div>

    </div>

</body>

</html>