<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>⭐ Rihanna - WORKS ⭐</title>

    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="stylesheet" href="stylesheets/work.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap" rel="stylesheet" />
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <h1>RIHANNA'S ALBUMS</h1>
    <div class="parent">
        <div class="container">
            <div class="work-img-container">
                <img src="/images/musicOfTheSun.png" />
                <div class="work-title">Music of the Sun</div>
                <div class="work-title">2005</div>
                <ul>
                    <li>Pon de Replay</li>
                    <li>Here I Go Again</li>
                    <li>If It's Lovin' that You Want</li>
                    <li>You Don't Love Me (No, No, No)</li>
                    <li>That La, La, La</li>
                    <li>The Last Time</li>
                    <li>Willing to Wait</li>
                    <li>Music of the Sun</li>
                    <li>Let Me</li>
                    <li>There's a Thug in My Life</li>
                    <li>Now I Know</li>
                    <li>Pon de Replay Remix </li>
                    <li>Should I? </li>
                    <li>Hypnotized </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="work-img-container">
                <img src="/images/girlLikeMe.png" />
                <div class="work-title">A Girl like Me</div>
                <div class="work-title">2006</div>
                <ul>
                    <li>SOS</li>
                    <li>Kisses Don't Lie</li>
                    <li>Unfaithful</li>
                    <li>We Ride</li>
                    <li>Dem Haters</li>
                    <li>Final Goodbye</li>
                    <li>Break It Off</li>
                    <li>Crazy Little Thing Called Love</li>
                    <li>Selfish Girl"</li>
                    <li>P.S. (I'm Still Not Over You)</li>
                    <li>A Girl Like Me</li>
                    <li>A Million Miles Away</li>
                    <li>If It's Lovin' That You Want – Part 2</li>
                    <li>Pon de Replay" (Full Phatt Remix)</li>
                    <li>Who Ya Gonna Run To</li>
                    <li>Coulda Been the One</li>

                </ul>
            </div>
        </div>

        <div class="container">
            <div class="work-img-container">
                <img src="/images/goodGirlGoneBad.png" />
                <div class="work-title">Good Girl Gone Bad</div>
                <div class="work-title">2007</div>
                <ul>
                    <li>Umbrella</li>
                    <li>Push Up on Me</li>
                    <li>Don't Stop the Music</li>
                    <li>Breakin' Dishes</li>
                    <li>Shut Up and Drive</li>
                    <li>Hate That I Love You (ft. Ne-Yo)</li>
                    <li>Say It</li>
                    <li>Sell Me Candy</li>
                    <li>Lemme Get That</li>
                    <li>Rehab</li>
                    <li>Question Existing</li>
                    <li>Good Girl Gone Bad</li>
                    <li>Cry</li>
                    <li>Haunted</li>

            </div>
        </div>

        <div class="container">
            <div class="work-img-container">
                <img src="/images/ratedR.png" />
                <div class="work-title">Rated R</div>
                <div class="work-title">2009</div>
                <ul>
                    <li>Mad House</li>
                    <li>Wait Your Turn</li>
                    <li>Hard (ft. Jeezy)</li>
                    <li>Stupid in Love</li>
                    <li>Rockstar 101 (ft. Slash)</li>
                    <li>Russian Roulette</li>
                    <li>Fire Bomb</li>
                    <li>Rude Boy</li>
                    <li>Photographs (ft. will.i.am)</li>
                    <li>G4L</li>
                    <li>Te Amo</li>
                    <li>Cold Case Love</li>
                    <li>The Last Song</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="work-img-container">
                <img src="/images/loud.png" />
                <div class="work-title">Loud</div>
                <div class="work-title">2010</div>
                <ul>
                    <li>S&M</li>
                    <li>What's my Name? (ft. Drake)</li>
                    <li>Cheers (Drink to That)</li>
                    <li>Fading</li>
                    <li>Only Girl (In the World)</li>
                    <li>California King Bed</li>
                    <li>Man Down</li>
                    <li>Raining Men</li>
                    <li>Complicated</li>
                    <li>Skin</li>
                    <li>Love the Way You Lie (Part II) (ft. Eminem)</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="work-img-container">
                <img src="/images/talkThatTalk.png" />
                <div class="work-title">Talk That Talk</div>
                <div class="work-title">2011</div>
                <ul>
                    <li>You da One</li>
                    <li>Where Have You Been</li>
                    <li>We Found Love (ft. Calvin Harris)</li>
                    <li>Talk That Talk (ft. Jay-Z)</li>
                    <li>Cockiness (Love It)</li>
                    <li>Birthday Cake</li>
                    <li>We All Want Love</li>
                    <li>Drunk on Love</li>
                    <li>Roc me Out</li>
                    <li>Watch n' Learn</li>
                    <li>Farewell</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="work-img-container">
                <img src="/images/unapologetic.png" />
                <div class="work-title">Unapologetic</div>
                <div class="work-title">2012</div>
                <ul>
                    <li>Phresh Out the Runway</li>
                    <li>Diamonds</li>
                    <li>Numb (ft. Eminem)</li>
                    <li>Pour it Up</li>
                    <li>Loveeeeeee Song (ft. Future)</li>
                    <li>Jump</li>
                    <li>Right Now (ft. David Guetta)</li>
                    <li>What Now</li>
                    <li>Stay (ft. Mikky Ekko)</li>
                    <li>Nobody's Business (ft. Chris Brown)</li>
                    <li>Love Without Tragedy / Mother Mary</li>
                    <li>Get It Over With</li>
                    <li>No Love Allowed</li>
                    <li>Lost in Paradise</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="work-img-container">
                <img src="/images/anti.png" />
                <div class="work-title">Anti</div>
                <div class="work-title">2016</div>
                <ul>
                    <li>Consideration (ft. SZA)</li>
                    <li>James Joint</li>
                    <li>Kiss it Better</li>
                    <li>Work (ft. Drake)</li>
                    <li>Desperado</li>
                    <li>Woo</li>
                    <li>Needed Me</li>
                    <li>Yeah I Said It</li>
                    <li>Same Ol' Mistakes</li>
                    <li>Never Ending</li>
                    <li>Love on the Brain</li>
                    <li>Higher</li>
                    <li>Close to You</li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>